absl-py
autograd
cachetools
certifi
chardet
cycler
decorator
future
google-auth
google-auth-oauthlib
grpcio
idna
imageio
importlib-metadata
kiwisolver
Markdown
matplotlib
networkx
numpy==1.26.4
oauthlib
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
PyWavelets
requests
requests-oauthlib
rich
rsa
scikit-image
scikit-learn
scipy
seaborn
six
tables
tensorboard
tensorboard-plugin-wit
tifffile
timm
torch
torchvision
tqdm
urllib3
Werkzeug
zipp
pandas
